
.header-bg-pic {    
  width: 100%;
  position: absolute;    
  top: 0px;
  overflow: hidden;
}



.header-bg-pic picture {
  z-index: -1;  
}

.search-wrapper {
    margin-top: 1rem;
    z-index: 1;  
}

.search-wrapper button {
    width: 80%;
    background-color: white;
    border: none;
    border-radius: 2rem;
    font-size: 0.7rem;
    font-weight: bold;
}

.search-wrapper i {
    color: rgb(255, 56, 92);
    font-weight: bold;
    font-size: 0.9rem;
}

.wrapper-01 {
    margin-top: 30vh;
}

.wrapper-01 button {
    background-color: white;
    border: none;
    border-radius: 2rem !important;
    font-size: 1.5rem; 
    font-weight: bold;
    color: purple
    
}

.wrapper-01 p {
    font-size: 1.5rem;
    font-weight: bold;
}

.explore-nearby {
    margin-top: 183px;   
}

.card-small img {
    max-width: 100px;
    margin-top: 30px;
    border-radius: 15px;
}

.live-anywhere {
    margin-top: 50px;
}

.live-anywhere img {
    max-width: 200px;
    margin-top: 30px;
    border-radius: 15px;
}

.live-anywhere p {
    font-weight:500;
}

.great-outdoors-wrapper img {
    border-radius: 15px;
    margin-top: 30px;
}

.great-outdoors-wrapper {
    position: relative;
}

.outdoors-text-wrapper{
    position: absolute;
    top: 70px;
    width: 100%;
}

.outdoors-text-wrapper button {
    background-color: black;
    color: white;
    border-radius: 15px;
}

.discover-experiences img {
    max-width: 300px;
    border-radius: 15px;
}

.discover-wrapper {
    position: relative;
}

.discover-wrapper span {
    position:absolute;
    top: 20px;
    left: 20px;
    font-weight: bold;
    background-color: #f2f2f2;
    padding: 3px 15px;
    border-radius: 10px;
}

.try-hosting {
    position: relative;
}

.try-hosting-wrapper {
    position: absolute;
    top: 8%;
    width: 100%;
    color: white;
    padding: 2rem;
    text-align: center;
}

.try-hosting img {
    border-radius: 15px;
    margin-top: 30px;
}

.try-hosting-wrapper button {
    color: black;
    border:none;
    font-weight: bold;
    background-color: #f8f8f8;
    border-radius: 15px;
}

.span-wrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.three-dots {
    background-color: #f2f2f2;
    border-radius: 15px;
}

.footer {
    background-color: #f8f8f8;
}
.footer-details {
    font-size: 0.7rem;
}

@media screen and (max-width: 370px) {
    .try-hosting-wrapper {
        font-size: 0.6rem;
        top: 5px;
    }
}

@media screen and (max-width: 576px) {
    .first-column {
        height: 50vh;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


@media screen and (min-width: 743px) {
    .header-bg-pic img {
        width: 100%;        
    }

    .wrapper-01 {
        margin-top: 15%;
    }

@media screen and (min-width: 992px) {
    .great-outdoors-wrapper img {
        width: 100%;
        height: 300px;
        object-fit:cover;
    }

    .outdoors-text-wrapper{
        top: 30%;
        margin-left: 2rem;        
    }

    .try-hosting-wrapper {
        max-width: 40%;
        text-align: left;
        top: 30%;
    }

}


    
}

@media screen and (min-width: 1127px) {
    .header-bg-pic picture  {
         width: 90%; 
    } 
    
    

}

@media screen and (min-width: 1400px) {
    .explore-nearby {
        margin-top: 383px;   
    }
    
}


@media screen and (min-width: 2000px) {

    
}